// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
<<<<<<< HEAD

html {
  scroll-behavior: smooth;
}
//navbar
.navbar-custom {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
    .navbar-brand {
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: 0.1rem;
      font-weight: 700;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          text-transform: uppercase;
          font-size: 0.8rem;
          font-weight: 700;
          letter-spacing: 0.1rem;
        }
      }
    }
  }

//header
header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: #FFD801;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  .masthead-content {
    z-index: 1;
    position: relative;
    .masthead-heading {
      font-size: 4rem;
    }
    .masthead-subheading {
      font-size: 2rem;
    }
  }
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: 2rem;
    padding-bottom: 2rem;
    .masthead-content {
      .masthead-heading {
        font-size: 4rem;
      }
      .masthead-subheading {
        font-size: 2rem;
      }
      .img-header{
        height: 400px;
      }
    }
  }
}

@media (max-width: 600px){
  .img-header{
    display: none;
  }
  .detail{
    bottom: 10px;
  }
}

.img-nav{
    height: 50px;
}

.img-catalog{
  height: 200px;
}

.img-detail{
  height: 300px;
}

.title-detail{
  font-size: 3em;
  color: #3f3d56;
  position: relative;
  bottom: 20px;
}

.detail{
  bottom:70px;
}

section{
  background-color: white;
}

.btn-outline-grey {
  color: #444;
  border-color: #444;
}

.btn-outline-grey:hover {
  color: #FFD801;
  background-color: #444;
  border-color: #444;
}

.btn-yellow{
    background-color: #FFD801;
    color: #3f3d56;
}

.btn-outline-yellow {
    color: #3F3D56;
    border-color: #FFD801;
  }
  
  .btn-outline-yellow:hover {
    color: #3F3D56;
    background-color: #FFD801;
    border-color: #FFD801;
  }
  
=======
>>>>>>> upstream/master
